$theme-color: none 0% 0% repeat scroll rgb(51, 51, 51);

$title-color: #17233d;
$content-color: #515a6e;
$hover-color: #515a6e;
$sub-color: #808695;
$disable-color: #c5c8ce;
$border-color: #dcdee2;
$divider-color: #e8eaec;
$background-color: #f8f8f9;
$logo-color: #2db7f5;

$box-shadow: 0 4px 1px rgba(0,0,0,.15);

$width: 100%;
$label-font-color: #3f4f5b;
$label-focus-font-color: rgb(82, 97, 108);
$border-bottom-color: #d5d5d5;
$focus-border-color: #2db7f5;
$transform-top: 8px;
$transform-time: 0.3s;
$scale: 0.9;

// 左侧导航栏
$meun-title-color: #939Da3;
$meun-title-detail-color: #364149;